body {
  background: url(../../images/bg.png) no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1c1c1c;

  &.overflow-hidden {
    overflow: hidden;
  }
}
.container {
  max-width: 1720px;
  margin: 0 auto;
}
