body {
  background: url(../../images/bg.png) no-repeat;
  background-size: cover;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1c1c1c;
  position: relative;

  &.overflow-hidden {
    overflow: hidden;
  }
}
.container {
  max-width: 1720px;
  margin: 0 auto;
}

.title {
  font-size: 86px;
  font-weight: 400;
  line-height: 118px;
  letter-spacing: 1px;
}
